<script>
  let name = "Sjoerd";
  let age = "25";
  let if18 = "hmm... not sure about that.";
  let toggle = true;

  const changeAge = () => {
    if (toggle) {
      age = "18";
      toggle = false;
      setTimeout(() => {
        if18 = `Yeah, that seems like a good age ${name}.`;
      }, 150);
    } else {
      age = "25";
      toggle = true;
      setTimeout(() => {
        if18 = "hmm... not sure about that.";
      }, 150);
    }
  };

  const clearValue = (e) => {
    e.target.value = "";
  };

  const handleInput = (e) => {
    name = e.target.value;
  };

  const cssColors = ["red", "green", "blue", "yellow"];

  const colorVar = () => {
    let color = cssColors[Math.floor(Math.random() * cssColors.length)];
    return color;
  };
</script>

<main>
  <h1>Hi {name}!</h1>
  <!-- <p>Visit the <a href="https://svelte.dev/tutorial">Svelte tutorial</a> to learn how to build Svelte apps.</p> -->
  <p>Let's make some svelte fun.</p>
  <p>
    You (<span class="noticeme">{name}</span>) are
    <span class="noticeme">{age}</span> years old.
  </p>
  <p>{if18}</p>
  <button on:click={changeAge}>Mek bettur guess.</button>
  <!-- <input type="text" on:input={handleInput} value={name} on:click={clearValue}> -->
  <input type="text" bind:value={name} />
</main>

<style>
  main {
    /* text-align: center; */
    padding: 1em;
    margin: 0 auto;
    display: block;
    max-width: 40rem;
  }

  .noticeme {
    font-weight: 600;
  }

  h1 {
    color: tomato;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
    margin: 0.4em 0 0.2em;
  }
  p {
    font-size: 1.1em;
    font-weight: 100;
    margin: 0.4em 0;
  }

  @media (min-width: 640px) {
    main {
      /* max-width: none; */
      content: "";
    }
  }
</style>
