<script>
	class Album {
		constructor(id, name, artist, year) {
			this.id = id;
			this.name = name;
			this.artist = artist;
			this.year = year;
			this.img = "img/albums/" + name + ".jpg";
			this.songs = [];
		}
		set addTracks(tracks) {
			this.songs.push(tracks);
		}
	}

	class Song {
		constructor(id, name, duration) {
			this.id = id;
			this.name = name;
			this.album = album;
			this.artist = artist;
			this.duration = duration;
			this.img = "img/albums/" + album + ".jpg";
		}
	}

	const songs = [
		new Song(1, "I'm a Believer", "3:30"),
		new Song(2, "Another brick in the wall", "3:30"),
		new Song(3, "Numb, Pt. 2", "3:30"),
	]

	const albums = [
		new Album(1, 'The Dark Side of the Moon', 'Pink Floyd', 1973),
		new Album(2, 'The Wall', 'Pink Floyd', 1979),
		new Album(3, 'The Division Bell', 'Pink Floyd', 1972),
	]

	albums[0].addTracks = songs;


	let album = albums[0];
 
</script>

<main>
	<section class="app">
		<img src={album.img} alt={album.name}>
		<div class="song-playing">
			<h2 class="song-title">
				{song-title}</h2>
			<h2 class="artist">
				{album.artist}
			</h2>
		</div>
	</section>
</main>

<style>

</style>
